<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Allow access to /doc/m295.yaml
    RewriteRule ^doc/m295\.yaml$ - [L]

    # Redirect all other requests to index.php
    RewriteRule ^ index.php [L]
</IfModule>

